{
    "items": {
        "[item_name]": {
            "color": 16744448,
            "title": "Item name",
            "icon": "https://wow.zamimg.com/images/wow/icons/large/trade_engineering.jpg",
            "description": "Markdown is\n **supported**"
        }
    },
    "plaintext": {
        "[ping]": "pong"
    },
    "alias": {
        "[item one]": "[item two]"
    },
    "files": {
        "[some image name]": "img.png"
    }
}
