{
    "discord_bot_token": {
        "development": "",
        "production": ""
    },
    "unit_test_channels": {
        "category": "",
        "reports": ""
    },
    "sentry_dsn": "",
    "deployment_mode": "production",
    "host": "https://classicdb.ch",
    "locale": "en-GB",
    "time_zone": "UTC",
    "itemization_token": "",
    "database": "db/example_bot.db",
    "icon_path": "",
    "override_ids": []
}
